// SPDX-FileCopyrightText: Copyright The Inferrix Authors
// SPDX-License-Identifier: Apache-2.0

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tb-report-preview-toolbar {
  padding: 8px;
}

.tb-report-preview-body {
  overflow: auto;
}

.tb-report-preview-object {
  flex: 1;
  width: 100%;
  border: none;
}
