<!--

    SPDX-FileCopyrightText: Copyright The Inferrix Authors
    SPDX-License-Identifier: Apache-2.0

-->
<h2 mat-dialog-title translate>white-labeling.advanced-css</h2>
<mat-dialog-content>
  <tb-css [label]="'white-labeling.custom-css' | translate" [(ngModel)]="css"></tb-css>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">{{ 'action.cancel' | translate }}</button>
  <button mat-raised-button color="primary" type="button" (click)="save()">{{ 'action.apply' | translate }}</button>
</mat-dialog-actions>
