<!--

    SPDX-FileCopyrightText: Copyright The Inferrix Authors
    SPDX-License-Identifier: Apache-2.0

-->
<form [formGroup]="form" class="wl-settings-form">
  <section>
    <h3 translate>white-labeling.mail-templates-settings</h3>
    <mat-form-field class="full-width">
      <mat-label translate>white-labeling.mail-template.mail-template</mat-label>
      <mat-select [value]="selectedTemplate" (valueChange)="selectTemplate($event)">
        <mat-option *ngFor="let name of templateNames" [value]="name">
          {{ mailTemplateTranslations.get(name) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label translate>white-labeling.mail-subject</mat-label>
      <input matInput formControlName="subject">
    </mat-form-field>
    <div class="form-row">
      <label translate>white-labeling.mail-body</label>
    </div>
    <editor [init]="hugeRteOptions" formControlName="body"></editor>
  </section>

  <div class="wl-actions">
    <button mat-raised-button color="primary" type="button"
            [disabled]="loading" (click)="save()">
      {{ 'action.save' | translate }}
    </button>
  </div>
</form>
