<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<div class="palette-settings">
  <div class="palette-row" *ngFor="let type of ['primary', 'accent']">
    <mat-form-field class="palette-select">
      <mat-label>{{ (type === 'primary' ? 'white-labeling.primary-palette' : 'white-labeling.accent-palette') | translate }}</mat-label>
      <mat-select [value]="palette(type)?.extendsPalette"
                  [disabled]="disabled"
                  (valueChange)="setExtends(type, $event)">
        <mat-option *ngFor="let name of paletteOptions" [value]="name">
          <span class="palette-swatch" [style.background]="paletteColors[name]"></span>
          {{ name | uppercase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="button"
            [disabled]="disabled || !palette(type)?.extendsPalette"
            (click)="customize(type)">
      {{ 'white-labeling.customize-palette' | translate }}
    </button>
  </div>
</div>
