<!--

    SPDX-FileCopyrightText: Copyright The Inferrix Authors
    SPDX-License-Identifier: Apache-2.0

-->
<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <div class="shade-grid">
    <div *ngFor="let shade of shades" class="shade-item">
      <label>{{ shade }}</label>
      <tb-color-input asBoxInput colorClearButton [(ngModel)]="colors[shade]"></tb-color-input>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">{{ 'action.cancel' | translate }}</button>
  <button mat-raised-button color="primary" type="button" (click)="save()">
    {{ 'white-labeling.save-palette' | translate }}
  </button>
</mat-dialog-actions>
