<!--

    SPDX-FileCopyrightText: Copyright The Inferrix Authors
    SPDX-License-Identifier: Apache-2.0

-->
<div [formGroup]="scheduleFormGroup" class="flex flex-col">
  <tb-timezone-select formControlName="timezone" required></tb-timezone-select>
  <tb-datetime formControlName="startTime" [dateText]="'scheduler.start-time' | translate" required></tb-datetime>
  <mat-checkbox formControlName="repeatEnabled">{{ 'scheduler.repeat' | translate }}</mat-checkbox>
  <div formGroupName="repeat" *ngIf="scheduleFormGroup.get('repeatEnabled').value" class="flex flex-col">
    <mat-form-field class="mat-block">
      <mat-label translate>scheduler.repeats</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of repeatTypes" [value]="type">
          {{ repeatTypeTranslations.get(type) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="repeatType === 'WEEKLY'" class="flex flex-row flex-wrap gap-2">
      <mat-checkbox *ngFor="let day of weekDays"
                    [checked]="isWeekDaySelected(day)"
                    (change)="toggleWeekDay(day)">
        {{ weekDayLabels[day] | translate }}
      </mat-checkbox>
    </div>
    <mat-form-field *ngIf="repeatType === 'EVERY_N_DAYS'" class="mat-block">
      <mat-label translate>scheduler.repeat-every-n-days</mat-label>
      <input matInput type="number" min="1" formControlName="days" required>
      <mat-error *ngIf="scheduleFormGroup.get('repeat').get('days').hasError('required')">
        {{ 'scheduler.repeat-days-required' | translate }}
      </mat-error>
      <mat-error *ngIf="scheduleFormGroup.get('repeat').get('days').hasError('min')">
        {{ 'scheduler.invalid-repeat-days-value' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="repeatType === 'EVERY_N_WEEKS'" class="mat-block">
      <mat-label translate>scheduler.repeat-every-n-weeks</mat-label>
      <input matInput type="number" min="1" formControlName="weeks" required>
      <mat-error *ngIf="scheduleFormGroup.get('repeat').get('weeks').hasError('required')">
        {{ 'scheduler.repeat-weeks-required' | translate }}
      </mat-error>
      <mat-error *ngIf="scheduleFormGroup.get('repeat').get('weeks').hasError('min')">
        {{ 'scheduler.invalid-repeat-weeks-value' | translate }}
      </mat-error>
    </mat-form-field>
    <div *ngIf="repeatType === 'TIMER'" class="flex flex-row gap-2">
      <mat-form-field class="flex-1">
        <mat-label translate>scheduler.repeat-interval</mat-label>
        <input matInput type="number" min="1" formControlName="repeatInterval" required>
        <mat-error *ngIf="scheduleFormGroup.get('repeat').get('repeatInterval').hasError('required')">
          {{ 'scheduler.repeat-interval-required' | translate }}
        </mat-error>
        <mat-error *ngIf="scheduleFormGroup.get('repeat').get('repeatInterval').hasError('min')">
          {{ 'scheduler.invalid-repeat-interval-value' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="flex-1">
        <mat-label translate>scheduler.time-unit</mat-label>
        <mat-select formControlName="timeUnit">
          <mat-option *ngFor="let unit of timeUnits" [value]="unit">
            {{ ('scheduler.' + unit.toLowerCase()) | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <tb-datetime formControlName="endsOn" [dateText]="'scheduler.ends-on' | translate" required></tb-datetime>
  </div>
</div>
