<!--

    SPDX-FileCopyrightText: Copyright The Inferrix Authors
    SPDX-License-Identifier: Apache-2.0

-->
<form class="tb-point-write-form" [formGroup]="writeForm" (ngSubmit)="write()">
  <mat-toolbar color="primary">
    <h2>{{ 'inferrix.point-write-title' | translate: {id: point.id, name: point.n} }}</h2>
    <span class="flex-1"></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="(isLoading$ | async) === false"></div>
  <div mat-dialog-content>
    <fieldset class="tb-form-panel no-border no-padding" [disabled]="isLoading$ | async">
      <div class="tb-form-row space-between">
        <div translate>inferrix.point-write-current</div>
        <div>{{ point.v }} · {{ point.q }}</div>
      </div>
      <div class="tb-form-row" *ngIf="isBoolean">
        <mat-slide-toggle class="mat-slide" formControlName="value">
          {{ 'inferrix.point-write-on' | translate }}
        </mat-slide-toggle>
      </div>
      <div class="tb-form-row column-xs" *ngIf="!isBoolean">
        <div class="fixed-title-width tb-required">{{ 'inferrix.point-write-value' | translate }}</div>
        <mat-form-field class="flex-1" appearance="outline" subscriptSizing="dynamic">
          <input matInput type="number" formControlName="value" required/>
        </mat-form-field>
      </div>
      <div class="tb-form-panel-hint">{{ 'inferrix.point-write-hint' | translate }}</div>
      <div class="tb-error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
    </fieldset>
  </div>
  <div mat-dialog-actions class="flex flex-row items-center justify-end">
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || writeForm.invalid">
      {{ 'inferrix.point-write' | translate }}
    </button>
  </div>
</form>
